<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Register</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!---<div class="navbar">
	<div class="help" align="right">
		<a  href="#" class="fa fa-question-circle" style="font-size:30px;color:white"></a>
	</div>
	</div>-->
  
  <div class="login-box">
  <h1>Register</h1>
    
    
    <form id="login_form" method="POST" action="/register">
    
    
      <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Name" id="name" name="name" required/>
      </div>

      <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Username" id="username" name="username" required/>
      </div>

      <div class="textbox">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password" id="password" name="password" required/>
      </div>

      <div class="textbox">
      <i class="fab fa-draft2digital"></i>
      <input type="number" placeholder="Age" id="age" name="age" required/>
      </div>
    
      <div class="textbox">
      <i class="fas fa-home"></i>
      <input type="text" placeholder="Address" id="address" name="address" required/>
      </div>
    
      <button type="submit" class="btn">Sign Up</button>

    </form> 
    <div class="sign-up" style="font-family: sans-serif; font-weight: bold;"><a href="/"> Already have an account? Sign in.</a></div>
  
  </div>
  <div class="color-overlay"></div>

    <script>
    document
      .getElementById("login_form")
      .addEventListener("submit", onSubmit);

      function onSubmit(e) {
      const url1 = window.location.origin + "/";
      const url2 = window.location.origin + "/register";
      e.preventDefault();
      // This data is not being used in the back end (Only the token), but have it here for you to experiment
      const name = document.getElementById("name").value;
      const password = document.getElementById("password").value;
      const username = document.getElementById("username").value;
      const age = document.getElementById("age").value;
      const address = document.getElementById("address").value;
      
      const sendData = {
          name,
          username,
          password,
          age,
          address
      };

      fetch("/register", {
        method: "POST",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
        },
        redirect: "follow",
        body: JSON.stringify(sendData),
      })
        .then((res) => {
          return res.json();
        })
        .catch(err => console.log(err))
        .then(function (json) {
          if (json.success === undefined || json.success === false){
            alert(json.msg);
            window.location.replace(url2);
          } else {
            alert(json.msg);
            window.location.replace(url1);
          }
        })
        .catch(err => console.log(err))
    }
  </script>

</body>

</html>