<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Register</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!---<div class="navbar">
	<div class="help" align="right">
		<a  href="#" class="fa fa-question-circle" style="font-size:30px;color:white"></a>
	</div>
	</div>-->
  <div class="login-box">
    <h1>Register</h1>
    <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Name" />
    </div>
    <div class="textbox">
      <i class="fas fa-user"></i>
      <input type="text" placeholder="Username" />
    </div>
    <div class="textbox">
      <i class="fas fa-lock"></i>
      <input type="password" placeholder="Password" />
    </div>
    <div class="textbox">
      <i class="fab fa-draft2digital"></i>
      <input type="text" placeholder="Age" />
    </div>
    <div class="textbox">
      <i class="fas fa-home"></i>
      <input type="text" placeholder="Address" />
    </div>

    <form>
      <button type="submit" class="btn" formaction="index.html">
        Sign Up
      </button>
    </form>
    <!---<button class="btn" type="submit" action="index.html">Sign Up</button> -->
    <div class="sign-up" style="font-family: sans-serif; font-weight: bold;">
      <a href="index.html"> Go back</a>
    </div>
  </div>
  <div class="color-overlay"></div>
</body>

</html>